[MASTER]
disable=import-error,invalid-name,line-too-long,missing-final-newline,missing-function-docstring,missing-module-docstring,redefined-outer-name,too-few-public-methods,trailing-whitespace,unspecified-encoding,unused-import,wrong-import-order