[MASTER]
disable=missing-module-docstring,missing-function-docstring,import-error,invalid-name,unused-import,wrong-import-order,redefined-outer-name,unspecified-encoding,missing-final-newline,line-too-long,trailing-whitespace,too-few-public-methods,too-many-arguments,too-many-locals